<meta charset="UTF-8">
<meta name="robots" content="nofollow" />
<meta name="renderer" content="webkit" />
<meta name="force-rendering" content="webkit" />
<meta name="format-detection" content="email=no" />
<meta name="format-detection" content="telephone=no" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
<meta name="description" content="趣店是深受中国年轻人喜爱的分期购物平台,凭学生证、身份证即可办理,支持全网商家,只需商品链接即可分期,支持0元首付,轻松还款无压力。">
<meta name="keywords" content="趣店,年轻人分期付款,年轻人分期购物,分期付款,iphone5s分期付款,iphone6分期付款,iphone6s分期付款,手机分期付款,0元首付,年轻人购物,年轻人商城">
<title>{{ pageData.title || '趣店' }}</title>
<link rel="icon" href="{{constant.cdn}}/gy/static/image/favicon.ico" type="image/x-icon" />