{% extends 'common/layout.html' %} 

{% block 'block_custom_css' %}
    <link rel="stylesheet" href="{{constant.cdn}}/gy/static/css/guide/mob.css"> 
{% endblock %} 

{% block 'block_custom_js' %} 
{% parent %}
<script>
document.addEventListener('DOMContentLoaded', function() {
  if (/MicroMessenger/.test(window.navigator.userAgent)) {
    document.getElementById('wechart-tip').style.display = 'block';
  }
});
</script>
<script src="{{constant.cdn}}/gy/static/js/guide/sensorsClick.js"></script>
{% endblock %} 

{% block 'content' %} 
{% spaceless %}
<div class="guide-mob">
  <div class="head-logo imgw">
    <div class="logo-img img"></div>
  </div>
  <div class="title-main imgw">
    <div class="title-img img"></div>
    <div class="subtitle-img img"></div>
  </div>
  <div class="btn-download" ontouchstart="">
    <a id="download-ios" href="/v2/guide/download?p=ios" target="_blank" class="btn btn-white" data-suffix="_mob">
      <span class="icon-apple"></span><span>iPhone版下载</span>
    </a>
    <a id="download-android" href="/v2/guide/download?p=android" target="_blank" class="btn btn-white" data-suffix="_mob">
      <span class="icon-android"></span><span>Android版下载</span>
    </a>
  </div>
  <div class="title-version imgw">
    <div class="title-img img"></div>
  </div>
  <div class="bg-sofa imgw">
    <div class="sofa-img img"></div>
  </div>
  <div id="wechart-tip" class="wechart-tip"></div>
</div>
{% if isJump %}
<script type="text/javascript">
window.location.href = "myapp://";
</script>
{% endif %} 
{% endspaceless %} 
{% endblock %}
